div.first>ul>li:nth-child(even) {
    color: pink
}

div.second>ul>li:nth-child(odd) {
    font-size: 22px;
}

div.third>ul>li:nth-child(2n+4)::after{
    content: '!';
}

div.fourth>ul>li:last-of-type {
    color: purple;
}
div.fifth>ul>li:first-letter {
    font-size: 30px;
    color:red;
}