* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
}
button {
    font-family: "Bowlby One", sans-serif;
}
body {
    padding: 36px 0;
    background-color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
}
.w-1340 {
    width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*--------------NAV----------------*/
nav {
    width: 100%;
}
nav ul {
    width: 451px;
    height: 60px;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}
nav ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    color: #e9e3dc;
}

.active_link {
    width: 203px;
    height: 60px;
    background: #b3a0cd;
    color: #1e1e1e;
}

/*-------------HERO--------------------*/
h1 {
    width: 1255px;
    margin-top: 74px;
    font-weight: 400;
    font-size: 107px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #e9e3dc;
}

.hero_img {
    display: block;
    margin-top: 33px;
}
.topSection {
    margin-top: 32px;
    border: 4px solid #1e1e1e;
    border-radius: 30px;
    width: 1340px;
    height: 369px;
    background: #d1ef53;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px
}

.topSection h2 {
    width: 533px;
    height: 186px;
    font-weight: 400;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1e1e1e;
}
.topSection div p {
    width: 521px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #1e1e1e;
    margin-bottom: 34px;
}

.topSection div button {
    border: 4px solid #1e1e1e;
    width: 176px;
    height: 60px;
    box-shadow: 8px 8px 0 0 #000;
    background: #e9e3dc;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    text-align: center;
    color: #1e1e1e;
}

.midSection {
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomImage {
    margin-top: 64px;
}
.h2_bottom {
    width: 895px;
    margin-top: 64px;
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    text-transform: uppercase;
    text-align: center;
    color: #e9e3dc;
}

.getStartedBtn {
    margin-top: 33px;
    width: 196px;
    height: 60px;
    background: #d1ef53;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    color: #1e1e1e;
}