* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

section h2 {
    font-size: 28px;
}

section p {
    width: 80%;
    font-size: 20px;
    text-align: center;
}

section a {
    font-size: 64px;
}

#section-top {
    background-color: darkorange;
}
#section-mid {
    background-color: deepskyblue;
}
#section-bot {
    background-color: darkolivegreen;
}