* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Inter, sans-serif;
    font-size: 45px;
}

header, footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #8D8484;
}

footer {
    background-color: #bdbdbd;
}

main {
    height: 60vh;
    display: flex;
}

section {
    height: 100%;
    width: 73vw;
    display: flex;
    flex-direction: column;
}

section article {
    height: 20vh;
}

article, aside {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#section__article__top {
    background: #776969;
}

#section__article__mid {
    background: #643030;
}

#section__article__bot {
    background: #441818;
}

.spam_container {
    height: 100%;
    width: 27vw;
    display: flex;
    flex-direction: column;
}

.spam_container aside {
    height: 50%;
}

#aside__top {
    background: #937575;
}

#aside__bot {
    background: #644c4c;
}