* {
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 9fr 7.5fr 2.2fr 2.6fr;
    grid-template-areas:
    "nav nav"
    "main aside-top"
    "main aside-bot"
    "section section"
    "footer footer";
}

header {
    grid-area: header;
    background-color: #D9D9D9;
}

main {
    grid-area: main;
    background-color: #A4A4A4;
}

.aside-top {
    grid-area: aside-top;
    background-color: #7F7A7A;
}

.aside-bot {
    grid-area: aside-bot;
    background-color: #615050;
}

section {
    grid-area: section;
    background-color: #D9D9D9;
}

footer {
    grid-area: footer;
    background-color: #AFA9A9;
}