@media screen and (max-width: 768px) {
    body {
        padding: 48px 16px 32px 16px;
    }
    .items {
        width: 100%;
        flex-direction: column;
        gap: 32px;
    }
    .item {
        width: 100%
    }
    .item h3 {
        margin: 16px 0 8px 0;
    }
}