* {
    margin: 0;
    padding: 0;
}

header {
    height: 4vh;
    background-color: #D9D9D9;
}

.flex {
    display: flex;
    height: 74vh;
}

.flex section {
    height: 100%;
    width: 59vw;
    background-color: #A4A4A4;
}
.flex aside {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 41vw;
}

#aside__article__top {
    height: 54vh;
    background: #7f7a7a;
}

#aside__article__bot {
    height: 46vh;
    background: #615050;
}

#section__bottom {
    height: 10vh;
    background: #d9d9d9;
}
footer {
    height: 12vh;
    background: #afa9a9;
}