body {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    gap: 20px;
    background-color: darkgreen;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    background-color: blanchedalmond;
    padding: 4px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}