* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    gap: 20px;
    padding: 0 5px;

}
.item {
    height: 100px;
    width: 100px;
    background-color: red;
    transition: 0.3s;
}
.item:hover{
    border-radius: 50%;
    background-color: lightslategray;
    transition: 0.6s;
}