* {
    margin: 0;
}
.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    grid-template-rows: 1fr 9.5fr 9.5fr 2.2fr;
    grid-template-areas:
    "nav nav nav"
    "section-left section-right aside-top"
    "section-left section-right aside-bot"
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: #D9D9D9;
}
.section-left {
    grid-area: section-left;
    background-color: #A4A4A4;
}
.section-right {
    grid-area: section-right;
    background-color: #C1C1C1;
}
.aside-top {
    grid-area: aside-top;
    background-color: #7F7A7A;
}
.aside-bot {
    grid-area: aside-bot;
    background-color: #6B6161;
}
footer {
    grid-area: footer;
    background-color: #D9D9D9;
}