* {
    margin: 0;
    padding: 0;
}

nav {
    height: 4vh;
}
footer {
    height: 10vh;
}

nav, footer {
    background: #d9d9d9;
}

main {
    height: 86vh;
    display: flex;
}

.main__section__1 {
    height: 100%;
    width: 29vw;
    background: #a4a4a4;
}

.main__section__2 {
    height: 100%;
    width: 31vw;
    background: #C1C1C1;
}

.aside__div {
    height: 100%;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.aside__top {
    height: 50%;
    background: #7f7a7a;
}

.aside__bot {
    height: 50%;
    background: #6b6161;
}