* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-bottom: 20px;
}

.item {
    width: 200px;
    height: 250px;
    border: 3px solid lightgray;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.item img {
    width: 75%;
    height: 60%;
}

.item p {
    font-weight: 600;
}

h1 {
    text-align: center;
    padding: 30px;
}
hr {
    width: 95%;
    margin: 0 auto;
}