@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap:132px;
}
.card {
    width: 320px;
    height: 490px;
    background: rgba(217, 217, 217, 0.3);
    border: 4px solid #554c4c;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;
}
.second {
    border: 4px solid #65856e;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -50px;
    border: 4px solid #554c4c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second .circle {
    border: 4px solid #65856e;
}

.card h2 {
    font-weight: 400;
    font-size: 40px;
    color: #000;
}
.card p {
    font-size: 20px;
    text-align: center;
    color: #000;
    width: 211px;
}
.card img {
    width: 60px;
    height: 60px;
}

