* {
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 27% 46% 27%;
    grid-auto-rows: 22% 56% 22%;
    grid-template-areas:
    "header header header"
    "aside-left main aside-right"
    "footer footer footer";
}

header {
    background-color: #D9D9D9;
    grid-area: header;
}

footer {
    background-color: #D9D9D9;
    grid-area: footer;
}

.aside-left {
    background-color: #C0BDBD;
    grid-area: aside-left;
}

.aside-right {
    background-color: #C0BDBD;
    grid-area: aside-right;
}

main {
    background-color: #A4A4A4;
    grid-area: main;
}
