* {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 22vh;
    background-color: #D9D9D9;
}

main {
    height: 56vh;
    display: flex;
}

aside {
    height: 100%;
    width: 27vw;
    background-color: #C0BDBD;
}
.flex {
    width: 46vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#section-top {
    background: #827878;
    height: 46vh;
}
#section-bot {
    background: #b7adad;
    height: 54vh;
}