@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}
body {
    font-family: 'Inter', sans-serif;
}
.w-1400 {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-primary {
    background-color: #24204A;
}
.bg-secondary {
    background-color: #071341;
}
/*--------------------------------HEADER--------------------------------*/
header {
    width: 1400px;
    height: 113px;
    padding: 0 115px;
    z-index: 1;
    background-color: #24204A;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #e5e5e5;
    opacity: 0.6;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:63px;
}
header nav ul a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
}

/*---------------------------------------HERO-------------------------------------*/
.hero {
    width: 100%;
    padding: 180px 115px 101px;
    display: flex;
    align-items: center;
    gap:208px;
}
.hero_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.onePosBtn {
    border-radius: 8px;
    width: 145px;
    height: 41px;
    background: #4b4864;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

.hero_left>h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #fff;
    width: 261px;
}
.hero_left>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #8e88c1;
    width: 570px;
}
.aboutBtn {
    border-radius: 8px;
    width: 200px;
    height: 56px;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.2);
    background: #3f50e7;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.hero_right {
    border-radius: 8px;
    width: 375px;
    height: 411px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    background: #827eac;
}

.hero_right img {
    height: 318px;
    width: 318px;
    object-fit: contain;
    margin: 48px 28px 45px 29px;
}

/*----------------------WEATHER-------------------*/
.weather {
    padding: 0 115px;
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherCard {
    width: 175px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.bg-orange {
    background-color: #FF6853;
}

.bg-pink {
    background-color: #FF537C;
}

.bg-cyan {
    background-color: #80D2C4;
}

.bg-blue {
    background-color: #3F50E7;
}

.bg-green {
    background-color: #95CB7C;
}

.weatherCard>div:first-of-type{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.weatherCard>div:last-of-type{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.weatherCard>div:last-of-type>span:nth-child(1){
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.weatherCard>div:last-of-type>span:nth-child(2){
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

/*----------------------*/

.custom_heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    width: 1074px;
    padding: 0 50px;
}
.custom_p {
    width: 545px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #8e88c1;
}

/*---------------secondary section*/
.content {
    width: 100%;
    margin-top: 50px;
    padding: 0 115px;
    display: flex;
    justify-content: space-between;
}
.contentCard {
    border: 2px solid #8e88c1;
    border-radius: 8px;
    width: 209px;
    height: 206px;
    padding: 40px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #8e88c1;
}

.contentCard>svg {
    width: 52px;
    height: 52px;
}
/*----------iframe------------*/
iframe {
    margin-top: 152px;
    width: 100%;
    height: 664px;
}
/*--------footer----------*/
footer {
    width: 100%;
    height: 94px;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}